/* --------  COMPETENCES ---------- */
section#competences {
    font-family: var(--font);
}
.title-competence {
  text-align: center;
  padding-top: 150px;
}
.title-competence p {
  margin: 0 auto;
  max-width: 80%;
}
.title-competence h2 {
  font-size: 3rem;
  color: var(--primary-color);
}
.container-card {
  padding: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  text-align: center;
  color: var(--primary-color);
}
.frontend, .backend, .autre {
  height: 500px;
  width: 350px;
  cursor: pointer;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.frontend img, .backend img, .autre img {
  margin: 20px;
  aspect-ratio: auto;
  width: 60px;
  transition: 0.3s;
}
.frontend img:hover, .backend img:hover, .autre img:hover {
  transform: scale(1.3);
}
.frontend, .backend, .autre h3 {
  text-transform: uppercase;
  padding: 20px;
  font-size: 1.5rem;
}
@media screen and (max-width:380px) {
  .title-competence h2 {
    font-size: 2rem;
  }
  .frontend, .backend, .autre  {
    width: 275px;
  }
}