/* --------  PROFIL ---------- */
main {
    z-index: 2;
    display: grid;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding-top: 150px;
}
.main-content h3, p {
    font-size: 1rem;
    color: var(--primary-color);
}
.main-content h1 {
    font-family: var(--font-title);
    font-size: 80px;
    color: var(--primary-color);
}
.main-content p {
    margin: 0 auto;
    max-width: 80%;
}
.btn-container {
    padding-top: 40px;
}
.btn-container button {
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    font-size: 1.4rem;
    border-radius: 12px;
    font-weight: 600;
    transition: opacity 0.5s ease;
    background: linear-gradient(102deg, rgb(0, 153, 255) 0%, rgb(204, 0, 255) 100%);
    box-shadow: rgba(135, 93, 255, 0.584) 0.398096px 0.398096px 0.562993px -0.9375px, rgba(135, 93, 255, 0.553) 1.20725px 1.20725px 1.70731px -1.875px, rgba(135, 93, 255, 0.47) 3.19133px 3.19133px 4.51322px -2.8125px, rgba(135, 93, 255, 0.2) 10px 10px 14.1421px -3.75px;
    color: white;
}
.btn-container button:hover {
  opacity: 0.6;
}
@media screen and (max-width:800px) {
  main {
    padding-top: 100px;
  }
  .main-content h1 {
    font-size: 60px;
  }

  .btn-container button {
    font-size: 1rem;
  }
  .btn-container {
    padding-top: 20px;
  }
  .title-competence h2 {
    font-size: 2.5rem;
  }
  .title-competence p {
    margin: 0 auto;
    max-width: 80%;
}
}
/* --------  PROJETS  ---------- */
section.projets {
  overflow: hidden;
  margin: 150px 0;
  padding-top: 150px;
}
.container-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.title-project {
  color: var(--primary-color);
  text-align: left;
  margin: 20px 20px;
}
.slide-container{
  max-width: 1500px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  padding: 25px 0;
}
.card-image{
  height: 200px;
  width: 80%;
  background-color: #FFF;
  border: 1px solid white;
  padding: 3px;
  transition: 0.3s;
  border-radius: 10px;
}
.card-image:hover {
  transform: scale(1.1);
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.name{
  margin: 10px 0;
  color: var(--primary-color);
}
.description{
  font-size: 14px;
  color: var(--primary-color);
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: black;
  padding: 8px 16px;
  background-color: #FFF;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}
.button:hover{
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 20px;
}
}
@media screen and (max-width: 380px) {
  .main-content h1 {
    font-size: 50px;
  }
}